html, body {
    font-size: 16px
}

body {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4f4f4f;
    line-height: normal;
    background: #f5f5f5
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .05em
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0
}

h1 {
    font-size: 2.25rem;
    line-height: 1.1em
}

h2 {
    font-size: 1.875rem;
    line-height: 1.15em
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2em
}

h4 {
    font-size: 1.3125rem;
    line-height: 1.3em
}

h5 {
    font-size: 1.125rem;
    line-height: 1.4em
}

h6 {
    font-size: 1rem;
    line-height: 1.5em
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.8rem
    }

    h2 {
        font-size: 1.59375rem
    }

    h3 {
        font-size: 1.35rem
    }

    h4 {
        font-size: 1.246875rem
    }

    h5 {
        font-size: 1.125rem
    }

    h6 {
        font-size: 1rem
    }
}

a {
    color: #292929;
    text-decoration: none;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    transition: .25s
}

a:hover, a:focus {
    color: #ff0200;
    text-decoration: underline
}

p {
    margin: 0 0 1em 0
}

p:last-child {
    margin-bottom: 0
}

img {
    max-width: 100%;
    max-height: 100%
}

textarea {
    resize: vertical
}

ul {
    margin-bottom: 1em;
    padding-left: 1.25em
}

ul:last-child {
    margin-bottom: 0
}

ul li {
    list-style: none
}

ul li:before {
    content: '\2014';
    float: left;
    margin-left: -1.25em
}

ol {
    margin-bottom: 1em;
    padding-left: 1em
}

ol:last-child {
    margin-bottom: 0
}

.button {
    display: inline-block;
    padding: .9em 2.5em;
    font-size: .75rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: normal;
    text-shadow: none;
    border: none;
    border-radius: 8px;
    background-color: #ff5e5d;
    outline: none;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    transition: .25s
}

.button:hover, .button:focus {
    color: #fff;
    background-color: #ff0200
}

.form-control {
    padding: .5em .75em;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: #4f4f4f;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px
}

.form-control:focus {
    border-color: #292929
}

.form-control[type="text"], textarea.form-control {
    -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05)
}

.form-control::-webkit-input-placeholder {
    color: #b3b3b3
}

.form-control::-moz-placeholder {
    color: #b3b3b3
}

.form-control:-moz-placeholder {
    color: #b3b3b3
}

.form-control:-ms-input-placeholder {
    color: #b3b3b3
}

input[placeholder] {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

input::-moz-placeholder {
    text-overflow: ellipsis
}

input:-moz-placeholder {
    text-overflow: ellipsis
}

input:-ms-input-placeholder {
    text-overflow: ellipsis
}

.container-fluid {
    padding-right: 60px;
    padding-left: 60px;
    max-width: 1540px
}

@media (max-width: 767px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container-fluid {
        padding-right: 30px;
        padding-left: 30px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px
}

.pagination_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px
}

.pagination_cont a {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 1.125rem;
    color: #b4b4b4;
    line-height: 32px;
    text-align: center;
    text-decoration: none
}

.pagination_cont a:hover {
    color: #ff0200
}

.pagination_cont .active {
    color: #4f4f4f !important
}

.pagination_cont .arrow {
    background-size: auto 14px;
    background-position: center;
    background-repeat: no-repeat
}

.pagination_cont .arrow.left {
    background-image: url(images/6.1.png)
}

.pagination_cont .arrow.left:hover {
    background-position: center left
}

.pagination_cont .arrow.right {
    background-image: url(images/6.2.png)
}

.pagination_cont .arrow.right:hover {
    background-position: center right
}

.breadcrumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 0 0 25px 0;
    padding: .75em 0 .25em 0;
    border-radius: 0;
    background: none
}

.breadcrumb:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background: #b4b4b4
}

.breadcrumb li {
    margin-bottom: .5em;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .1em
}

.breadcrumb li + li:before {
    padding: 0;
    content: none
}

.breadcrumb li:after {
    content: "/";
    padding: 0 .5em;
    color: #b3b3b3
}

.breadcrumb li a {
    color: #b3b3b3;
    line-height: 2em
}

.breadcrumb li.active:after {
    content: none
}

.owl-carousel {
    position: relative
}

.owl-carousel .owl-nav {
    position: static
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border: solid #000;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    transition: .25s
}

.owl-carousel .owl-nav .owl-prev {
    left: 13%;
    border-width: 0 0 0 1px;
    background-image: url(images/6.1.png)
}

.owl-carousel .owl-nav .owl-prev:hover {
    background-position: center left
}

.owl-carousel .owl-nav .owl-next {
    right: 13%;
    border-width: 0 1px 0 0;
    background-image: url(images/6.2.png)
}

.owl-carousel .owl-nav .owl-next:hover {
    background-position: center right
}

.owl-carousel .owl-dots {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    font-size: 0;
    text-align: center
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle
}

.owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: #969696
}

.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
    width: 12px;
    height: 12px;
    background: #323232
}

@media (max-width: 767px) {
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
        margin-top: -15px;
        width: 30px;
        height: 30px
    }

    .owl-carousel .owl-nav .owl-prev {
        left: 15px
    }

    .owl-carousel .owl-nav .owl-next {
        right: 15px
    }
}

.shifter_cont .owl-carousel .owl-nav .owl-prev, .shifter_cont .owl-carousel .owl-nav .owl-next {
    margin-top: -47.5px
}

.shifter_cont .owl-carousel .owl-nav .owl-prev {
    left: 0
}

.shifter_cont .owl-carousel .owl-nav .owl-next {
    right: 0
}

.shifter_cont .owl-carousel .owl-dots {
    position: static;
    margin-top: 30px
}

@media (max-width: 767px) {
    .shifter_cont .owl-carousel .owl-nav .owl-prev, .shifter_cont .owl-carousel .owl-nav .owl-next {
        margin-top: -24.5px
    }

    .shifter_cont .owl-carousel .owl-nav .owl-prev {
        left: -30px
    }

    .shifter_cont .owl-carousel .owl-nav .owl-next {
        right: -30px
    }

    .shifter_cont .owl-carousel .owl-dots {
        margin-top: 7.5px
    }
}

@media (min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .shifter_cont .owl-carousel .owl-nav .owl-prev, .shifter_cont .owl-carousel .owl-nav .owl-next {
        margin-top: -34.5px
    }

    .shifter_cont .owl-carousel .owl-dots {
        margin-top: 7.5px
    }
}

.flex_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.top_cont {
    position: relative;
    z-index: 1000;
    padding: 15px 0;
    background-size: cover;
    background-position: center;
    background-image: url("/images/header_bg.jpg");
}

.top_cont ul {
    padding: 0
}

.top_cont li:before {
    content: none
}

.top_cont .flex_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -15px
}

.top_cont .flex_item {
    padding: 0 15px
}

.top_cont .social_cont ul {
    font-size: 0
}

.top_cont .social_cont li {
    display: inline-block;
    margin: 12.5px 25px 12.5px 0
}

.top_cont .tel_cont ul {
    padding-left: 40px;
    border-left: 1px solid #000
}

.top_cont .tel_cont li {
    font-size: .75rem
}

.top_cont .tel_cont .tel {
    white-space: nowrap;
    color: #505050;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-decoration: none
}

.top_cont .logo_cont {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    text-align: center
}

.top_cont .icons_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.top_cont .icons_cont .icon_cont {
    position: relative;
    margin-left: 35px
}

.top_cont .icons_cont .icon_cont > .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none
}

.top_cont .icons_cont .icon_cont > .link:before {
    content: '';
    margin-right: 15px;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.top_cont .icons_cont .icon_cont > .link:after {
    content: "\e259";
    margin-left: .5em;
    font-family: 'Glyphicons Halflings';
    font-size: 50%;
    line-height: 1em
}

.top_cont .icons_cont .icon_cont .collapse, .top_cont .icons_cont .icon_cont .collapsing {
    position: absolute;
    left: 50%;
    border-radius: 8px;
    background: #fff;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%)
}

.top_cont .icons_cont .icon_cont .collapse .cont, .top_cont .icons_cont .icon_cont .collapsing .cont {
    padding: 1em
}

.top_cont .icons_cont .lang_cont > .link:before {
    background-image: url("/images/2.1.png");

}

.top_cont .icons_cont .lang_cont .collapse li + li, .top_cont .icons_cont .lang_cont .collapsing li + li {
    margin-top: .5em
}

.top_cont .icons_cont .lang_cont .collapse .link, .top_cont .icons_cont .lang_cont .collapsing .link {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .1em
}

.top_cont .icons_cont .cart_cont > .link:before {
}

.top_cont .icons_cont .cart_cont .collapse, .top_cont .icons_cont .cart_cont .collapsing {
    min-width: 130px
}

.top_cont .icons_cont .cart_cont .collapse .cont, .top_cont .icons_cont .cart_cont .collapsing .cont {
    font-size: .875rem;
    line-height: 1.5em
}

.top_cont .icons_cont .cart_cont .collapse .text, .top_cont .icons_cont .cart_cont .collapsing .text {
    margin-bottom: .5em
}

.top_cont .icons_cont .cart_cont .collapse .button, .top_cont .icons_cont .cart_cont .collapsing .button {
    padding: .9em;
    width: 100%
}

.top_cont .icons_cont .enter_cont > .link:before {
    background-image: url("/images/2.3.png");
}

.top_cont .icons_cont .enter_cont > .link:after {
    content: none
}

@media (max-width: 767px) {
    .top_cont {
        padding: 15px 0 1px 0
    }

    .top_cont .flex_container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .top_cont .flex_item {
        margin-bottom: 15px
    }

    .top_cont .social_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 180px;
        -moz-box-flex: 1;
        -ms-flex: 1 1 180px;
        flex: 1 1 180px;
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        margin-bottom: 0;
        text-align: center
    }

    .top_cont .social_cont li {
        margin: 0 12.5px 15px 12.5px
    }

    .top_cont .tel_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 170px;
        -moz-box-flex: 1;
        -ms-flex: 1 1 170px;
        flex: 1 1 170px;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        text-align: center
    }

    .top_cont .tel_cont ul {
        padding-left: 0;
        border-left: 0 solid #000
    }

    .top_cont .logo_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 170px;
        -moz-box-flex: 1;
        -ms-flex: 1 1 170px;
        flex: 1 1 170px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .top_cont .icons_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .top_cont .icons_cont .icon_cont {
        margin-left: 0
    }

    .top_cont .icons_cont .icon_cont > .link:before {
        margin-right: 7.5px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .top_cont {
        padding: 15px 0 1px 0
    }

    .top_cont .flex_container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .top_cont .flex_item {
        margin-bottom: 15px
    }

    .top_cont .social_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 180px;
        -moz-box-flex: 1;
        -ms-flex: 1 1 180px;
        flex: 1 1 180px;
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        margin-bottom: 0;
        text-align: center
    }

    .top_cont .social_cont li {
        margin: 0 12.5px 15px 12.5px
    }

    .top_cont .tel_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 170px;
        -moz-box-flex: 1;
        -ms-flex: 1 1 170px;
        flex: 1 1 170px;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        text-align: center
    }

    .top_cont .tel_cont ul {
        padding-left: 0;
        border-left: 0 solid #000
    }

    .top_cont .logo_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 170px;
        -moz-box-flex: 1;
        -ms-flex: 1 1 170px;
        flex: 1 1 170px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .top_cont .icons_cont {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .top_cont .icons_cont .icon_cont {
        margin-left: 0
    }

    .top_cont .icons_cont .icon_cont > .link:before {
        margin-right: 7.5px
    }
}

.menu_cont {
    position: relative;
    z-index: 999;
    border-top: 2px solid #ff5e5d;
    background: #fff;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1)
}

.menu_cont .flex_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.menu_cont .navbar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin: 0;
    min-height: auto;
    border: none;
    border-radius: 8px;
    background: none
}

.menu_cont .navbar .navbar-collapse {
    padding: 0
}

.menu_cont .navbar .navbar-collapse .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: none
}

.menu_cont .navbar .navbar-collapse .navbar-nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    float: none
}

.menu_cont .navbar .navbar-collapse .navbar-nav li a {
    padding: 1.1em 0;
    font-size: .75rem;
    color: #505050;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: .1em;
    text-align: left;
    border-radius: 0
}

.menu_cont .navbar .navbar-collapse .navbar-nav li a:hover {
    color: #ff5e5d;
    background: none
}

.menu_cont .navbar .navbar-collapse .navbar-nav li.active > a {
    color: #b5b5b5;
    background: none
}

.menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle:after {
    content: "\e259";
    margin-left: .5em;
    font-family: 'Glyphicons Halflings';
    font-size: 66%;
    line-height: 1em
}

.menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown.open .dropdown-toggle {
    color: #ff0200;
    background: none
}

.menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
    margin-left: -15px;
    padding: 8px 0;
    min-width: 100%;
    width: 210px;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

.menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a {
    padding: .5em 15px;
    font-size: .875rem;
    line-height: normal;
    white-space: normal;
    text-transform: none;
    letter-spacing: normal
}

.menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a:hover, .menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a:focus {
    color: #fff;
    background: #ff5e5d
}

.menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li:before {
    content: none
}

.menu_cont .navbar .navbar-collapse .navbar-nav li:before {
    content: none
}

.menu_cont .search_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.menu_cont .search_cont .form-control {
    padding: .05em 25px;
    width: 300px;
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
    border: solid #505050;
    border-width: 0 0 0 1px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.menu_cont .search_cont .button {
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 0;
    background: none;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center
}

@media (max-width: 767px) {
    .menu_cont .navbar {
        position: static
    }

    .menu_cont .navbar .navbar-header {
        margin: 0 -15px
    }

    .menu_cont .navbar .navbar-header .navbar-toggle {
        float: none;
        margin: 0;
        padding: .75em;
        width: 100%;
        font-weight: bold;
        color: #ff5e5d;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        background: #fff
    }

    .menu_cont .navbar .navbar-header .navbar-toggle.collapsed {
        color: #4f4f4f
    }

    .menu_cont .navbar .navbar-collapse {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 999;
        background: #fff;
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav {
        display: block;
        margin: 0;
        padding: 30px
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li + li {
        padding-top: 1em
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li a {
        padding: 0
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        margin-left: 0;
        padding: 15px 0 7.5px 15px;
        width: auto;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a {
        padding: 0
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a:hover, .menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a:focus {
        color: #ff0200;
        background: none
    }

    .menu_cont .search_cont {
        padding-left: 25px
    }

    .menu_cont .search_cont .form-control {
        width: 190px
    }
}

@media (min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .menu_cont .navbar .navbar-collapse .navbar-nav {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: .75em 0
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -moz-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li a {
        padding: .75em 2em .75em 0;
        line-height: normal
    }

    .menu_cont .navbar .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        border-radius: 8px
    }

    .menu_cont .search_cont .form-control {
        width: 200px
    }
}

@media (max-width: 767px) {
    .slider_cont .owl-dots {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .slider_cont .owl-nav .owl-prev {
        left: 30px
    }

    .slider_cont .owl-nav .owl-next {
        right: 30px
    }

    .slider_cont .owl-dots {
        bottom: 30px
    }
}

.shifter_cont {
    padding: 45px 0;
    text-align: center
}

.shifter_cont + .shifter_cont:before {
    content: '';
    display: block;
    margin: -45px auto 45px auto;
    max-width: 1420px;
    height: 1px;
    background: #b4b4b4
}

.shifter_cont .container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    max-width: 1510px
}

.shifter_cont .title {
    margin-bottom: 30px;
    font-size: 1.125rem;
    line-height: 1.33333333em;
    text-transform: uppercase
}

.shifter_cont .shifter_carousel {
    padding: 0 140px
}

.shifter_cont .shifter_carousel .item {
    padding: 15px
}

.shifter_cont__item_tab {
    position: relative;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    transition: .25s
}

.shifter_cont__item_tab:hover {
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15)
}

.shifter_cont__item_tab:hover .button {
    background: #ff0200
}

.shifter_cont__item_tab .special {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0 0 5px;
    width: 30px;
    height: 30px;
    font-size: 1.375rem;
    line-height: 1em;
    color: #fff;
    border-top-left-radius: 8px
}

.shifter_cont__item_tab .special:before, .shifter_cont__item_tab .special:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #f62d1a transparent transparent transparent
}

.shifter_cont__item_tab .special:before {
    top: 0;
    left: 100%
}

.shifter_cont__item_tab .special:after {
    top: 100%;
    left: 0
}

.shifter_cont__item_tab .special.sale {
    background: #f62d1a
}

.shifter_cont__item_tab .special.sale:before, .shifter_cont__item_tab .special.sale:after {
    border-color: #f62d1a transparent transparent transparent
}

.shifter_cont__item_tab .pic {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px
}

.shifter_cont__item_tab .name {
    padding: 1em 20px;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.28571429em;
    letter-spacing: .025em
}

.shifter_cont__item_tab .price_cont {
    margin-bottom: 15px;
    text-transform: uppercase
}

.shifter_cont__item_tab .price_cont .old_price {
    font-size: .75rem;
    font-weight: 500;
    color: #b4b4b4;
    text-decoration: line-through
}

.shifter_cont__item_tab .price_cont .price {
    font-size: 1.125rem;
    font-weight: bold;
    color: #313131
}

.shifter_cont__item_tab .button {
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .shifter_cont {
        padding: 30px 0
    }

    .shifter_cont + .shifter_cont:before {
        margin: -30px 15px 30px 15px
    }

    .shifter_cont .container-fluid {
        padding-right: 45px;
        padding-left: 45px
    }

    .shifter_cont .shifter_carousel {
        padding: 0
    }
}

@media (min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .shifter_cont {
        padding: 30px 0
    }

    .shifter_cont + .shifter_cont:before {
        margin: -30px 30px 30px 30px
    }

    .shifter_cont .container-fluid {
        padding-right: 30px;
        padding-left: 30px;
        max-width: 1480px
    }

    .shifter_cont .title {
        margin-bottom: 15px
    }

    .shifter_cont .shifter_carousel {
        padding: 0 45px
    }
}

.specials_cont {
    position: relative;
    text-align: center
}

.specials_cont:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 50%;
    background: #fff
}

.specials_cont .text_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 305px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.specials_cont .text_cont .title {
    padding-bottom: 15px;
    font-size: 1.875rem;
    border-bottom: 2px solid #323232
}

.specials_cont .text_cont .text {
    margin-bottom: 1.5em;
    color: #646464;
    letter-spacing: .025em;
    line-height: 1.25em
}

.specials_cont .text_cont b {
    font-weight: 500;
    color: #4f4f4f
}

.specials_cont .text_cont .button {
    color: #4f4f4f;
    border: 2px solid #4f4f4f;
    background: none
}

.specials_cont .text_cont .button:hover {
    color: #fff;
    border-color: transparent;
    background: #ff0200
}

@media (max-width: 767px),(min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .specials_cont {
        margin-bottom: 30px
    }

    .specials_cont:before {
        content: none
    }

    .specials_cont .text_cont {
        position: static;
        padding-top: 15px;
        max-width: none;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0)
    }

    .specials_cont .text_cont .title {
        font-size: 1.5rem
    }
}

.news_block {
    background: #fff
}

.news_block .news_cont {
    padding: 45px 0
}

.news_block .news_cont .title {
    margin-bottom: 55px;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: .025em
}

.news_block .news_cont .row {
    margin: 0 -25px
}

.news_block .news_cont .left_column {
    padding: 0 25px
}

.news_block .news_cont .right_column {
    padding: 0 25px
}

.news_block .news_cont .cont + .cont {
    margin-top: 50px
}

.news_block .news_cont .cont .title_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 15px;
    border-bottom: 1px solid #969696
}

.news_block .news_cont .cont .title_cont .title2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-bottom: 15px;
    font-size: 1rem;
    letter-spacing: .025em
}

.news_block .news_cont .cont .title_cont .data {
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: .025em;
    text-transform: uppercase
}

.news_block .news_cont .cont .text {
    margin-bottom: 5px;
    line-height: 1.5em;
    letter-spacing: .025em
}

.news_block .news_cont .cont .link_cont {
    text-align: right
}

.news_block .news_cont .cont .link_cont .more_link {
    font-weight: 500;
    color: #979797;
    line-height: 1.5em;
    letter-spacing: .025em;
    text-decoration: none;
    border-bottom: 1px solid rgba(150, 150, 150, 0.25)
}

.news_block .news_cont .cont .link_cont .more_link:hover {
    color: #ff0200;
    border-color: #ff0200
}

.news_block .news_cont .instagram_cont .title {
    margin-bottom: 10px;
    padding-bottom: 13px;
    text-align: left;
    border-bottom: 1px solid #969696
}

.news_block .news_cont .instagram_cont .row {
    margin: 0 -5px;
    font-size: 0
}

.news_block .news_cont .instagram_cont .pic_cont {
    display: inline-block;
    margin-top: 10px;
    width: 33.33333333%;
    padding: 0 5px
}

.news_block .news_cont .instagram_cont .pic {
    padding-bottom: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position: center
}

.news_block .about_company_cont {
    margin-bottom: 80px;
    text-align: center
}

.news_block .about_company_cont .title {
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: normal
}

.news_block .about_company_cont .title2 {
    margin-bottom: 1em;
    font-size: .875rem
}

.news_block .about_company_cont .text {
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.42857143em;
    letter-spacing: .075em
}

.news_block .about_company_cont .link {
    font-size: .875rem;
    line-height: 1.28571429em;
    letter-spacing: .05em
}

@media (max-width: 767px),(min-width: 768px) and (max-width: 991px) {
    .news_block .news_cont {
        padding: 30px 0
    }

    .news_block .news_cont .title {
        margin-bottom: 30px
    }

    .news_block .news_cont .row {
        margin: 0 -15px
    }

    .news_block .news_cont .left_column {
        margin-bottom: 30px;
        padding: 0 15px
    }

    .news_block .news_cont .right_column {
        padding: 0 15px
    }

    .news_block .about_company_cont {
        margin-bottom: 30px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .news_block .about_company_cont {
        margin-bottom: 45px
    }
}

.footer_cont .footer {
    border-top: 2px solid #ff5e5d;
    background-size: cover;
    background-position: center;
    background-image: url("/images/header_bg.jpg");
}

.footer_cont .footer .menu_cont {
    padding: 45px 0;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.footer_cont .footer .menu_cont .navbar {
    border-right: 2px solid #323232;
    border-radius: 0
}

.footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav {
    display: block
}

.footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav > li {
    display: inline-block;
    padding: 12.5px 1em 12.5px 0;
    width: 49%
}

.footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 0;
    line-height: normal
}

.footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    border-radius: 8px
}

.footer_cont .footer .address_cont {
    padding: 22.5px 130px
}

.footer_cont .footer .address_cont .flex_container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer_cont .footer .address_cont .flex_item {
    padding-top: 22.5px;
    padding-bottom: 22.5px
}

.footer_cont .footer .address_cont .address {
    font-size: .6875rem;
    line-height: 1.45454545em
}

.footer_cont .footer .address_cont .tel_cont ul {
    padding: 0
}

.footer_cont .footer .address_cont .tel_cont li {
    font-size: .75rem
}

.footer_cont .footer .address_cont .tel_cont li:before {
    content: none
}

.footer_cont .footer .address_cont .tel_cont .tel {
    white-space: nowrap;
    color: #505050;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-decoration: none
}

.footer_cont .footer .address_cont .link_cont .name {
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase
}

.footer_cont .footer .address_cont .link_cont .link {
    font-size: .625rem;
    text-decoration: underline
}

.footer_cont .footer .address_cont .social_cont ul {
    padding: 0
}

.footer_cont .footer .address_cont .social_cont li {
    display: inline-block;
    margin: 0 20px 20px 0
}

.footer_cont .footer .address_cont .social_cont li:before {
    content: none
}

.footer_cont .footer .kurs_cont {
    margin: 45px 0;
    padding: 15px;
    background: #fff8e7;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.footer_cont .footer .kurs_cont table {
    width: 100%
}

.footer_cont .footer .kurs_cont td {
    padding: .5em;
    font-size: .6875rem;
    text-transform: uppercase
}

.footer_cont .footer .kurs_cont .th1 {
    padding-bottom: 1em
}

.footer_cont .footer .kurs_cont .th2 {
    padding-bottom: 1em;
    color: #979797;
    text-transform: none
}

.footer_cont .bottom {
    background: #fff
}

.footer_cont .bottom .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .6875rem;
    text-transform: uppercase;
    letter-spacing: .1em
}

.footer_cont .bottom .make {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .75rem;
    letter-spacing: .1em;
    text-align: right
}

.footer_cont .bottom .make img {
    margin-left: 7.5px
}

@media (max-width: 767px) {
    .footer_cont .footer .menu_cont {
        padding: 15px 0
    }

    .footer_cont .footer .menu_cont .navbar {
        border-right: 0 solid #323232
    }

    .footer_cont .footer .menu_cont .navbar .navbar-header {
        margin: 0
    }

    .footer_cont .footer .menu_cont .navbar .navbar-header .navbar-toggle {
        border: 1px solid transparent;
        border-width: 1px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        -webkit-transition: .25s;
        -o-transition: .25s;
        -moz-transition: .25s;
        transition: .25s;
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
    }

    .footer_cont .footer .menu_cont .navbar .navbar-header .navbar-toggle.collapsed {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav > li {
        display: block;
        padding: 0;
        width: auto
    }

    .footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav > li + li {
        padding-top: 1em
    }

    .footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav > li > a {
        padding: 0
    }

    .footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
        border-radius: 0
    }

    .footer_cont .footer .address_cont {
        padding: 0
    }

    .footer_cont .footer .address_cont .flex_container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -15px
    }

    .footer_cont .footer .address_cont .flex_item {
        margin-bottom: 22.5px;
        padding-top: 0;
        padding-bottom: 0;
        width: auto !important
    }

    .footer_cont .footer .kurs_cont {
        margin: 0 0 15px 0
    }

    .footer_cont .bottom {
        padding: 22.5px 0;
        text-align: center
    }

    .footer_cont .bottom .copyright {
        margin-bottom: 15px;
        padding-top: 0;
        padding-bottom: 0
    }

    .footer_cont .bottom .make {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center
    }
}

@media (min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .footer_cont .footer .menu_cont {
        margin-bottom: 15px;
        padding: 0
    }

    .footer_cont .footer .menu_cont .navbar {
        border-right: 0 solid #323232
    }

    .footer_cont .footer .menu_cont .navbar .navbar-collapse .navbar-nav > li {
        display: inline-block;
        margin-right: 1em;
        padding: .5em 0;
        width: auto
    }

    .footer_cont .footer .address_cont {
        padding: 0
    }

    .footer_cont .footer .address_cont .flex_container {
        margin: 0 -15px
    }

    .footer_cont .footer .address_cont .flex_item {
        margin-bottom: 30px;
        padding-top: 0;
        padding-bottom: 0
    }

    .footer_cont .footer .kurs_cont {
        margin: 0 0 30px 0
    }
}

.collapse_menu_cont {
    margin-bottom: 30px
}

.collapse_menu_cont > .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 1.4em 1.75em;
    width: 100%;
    font-size: 1.125rem;
    color: #4f4f4f;
    letter-spacing: .1em;
    text-align: left;
    line-height: 1.33333333em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #f8efda
}

.collapse_menu_cont > .button.collapsed {
    border-radius: 8px
}

.collapse_menu_cont > .button:after {
    content: '';
    margin-left: 1em;
    width: 30px;
    height: 2px;
    background: #323232
}

.collapse_menu_cont .collapse, .collapse_menu_cont .collapsing {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #fff
}

.collapse_menu_cont .collapse_text_cont {
    padding: 30px
}

.collapse_menu_cont .filter_cont .cont + .cont {
    margin-top: 35px
}

.collapse_menu_cont .filter_cont .filter_title {
    display: block;
    margin-bottom: 1em;
    font-size: .875rem;
    font-weight: bold;
    color: #4f4f4f;
    letter-spacing: .1em;
    text-decoration: none
}

.collapse_menu_cont .filter_cont .filter_title:after {
    content: "\e260";
    margin-left: 1em;
    font-family: 'Glyphicons Halflings';
    font-size: 66%;
    line-height: 1em
}

.collapse_menu_cont .filter_cont .filter_title.collapsed:after {
    content: "\e259"
}

.collapse_menu_cont .filter_cont .checkbox_cont input[type=checkbox] {
    position: absolute;
    left: -9999px;
    background: url(images/checkbox.png);
    background-size: contain
}

.collapse_menu_cont .filter_cont .checkbox_cont input[type=checkbox] + label {
    position: relative;
    margin: 0;
    padding-left: 25px;
    font-weight: normal;
    cursor: pointer
}

.collapse_menu_cont .filter_cont .checkbox_cont input[type=checkbox] + label:before {
    content: '';
    position: absolute;
    top: 0;
    margin: 6px 0 0 -25px;
    width: 6px;
    height: 6px
}

.collapse_menu_cont .filter_cont .checkbox_cont input[type=checkbox]:not(:checked) + label:before {
    background: url(images/checkbox.png)
}

.collapse_menu_cont .filter_cont .checkbox_cont input[type=checkbox]:checked + label:before {
    background: url(images/checkbox_active.png)
}

.collapse_menu_cont .filter_cont .checkbox_cont label {
    font-size: .875rem;
    font-weight: 300;
    color: #828282;
    letter-spacing: .05em
}

.collapse_menu_cont .filter_cont ul {
    padding: 0
}

.collapse_menu_cont .filter_cont li + li {
    margin-top: .7em
}

.collapse_menu_cont .filter_cont li:before {
    content: none
}

.collapse_menu_cont.left_menu > .button:after {
    content: none
}

.collapse_menu_cont.left_menu .collapse_text_cont ul {
    padding: 0
}

.collapse_menu_cont.left_menu .collapse_text_cont li + li {
    margin-top: 1.75em
}

.collapse_menu_cont.left_menu .collapse_text_cont li:before {
    content: none
}

.collapse_menu_cont.left_menu .collapse_text_cont .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem;
    color: #969696;
    letter-spacing: .1em;
    text-decoration: none
}

.collapse_menu_cont.left_menu .collapse_text_cont .link:hover {
    color: #4f4f4f
}

.collapse_menu_cont.left_menu .collapse_text_cont .link.active {
    font-weight: 500;
    color: #4f4f4f
}

.collapse_menu_cont.left_menu .collapse_text_cont .link.active:before {
    content: '\2014';
    margin-right: 1em
}

@media (max-width: 767px) {
    .collapse_menu_cont > .button {
        padding: 11.25px 15px;
        font-size: 1rem
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .collapse_menu_cont.left_menu .collapse_text_cont li + li {
        margin-top: 1.25em
    }

    .collapse_menu_cont.left_menu .collapse_text_cont .link {
        font-size: .875rem;
        letter-spacing: .05em
    }
}

.product_list_page {
    padding-bottom: 1px;
    margin-bottom: 30px
}

.product_list_page .cont {
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .product_list_page {
        margin-bottom: 15px
    }
}

@media (max-width: 767px) and (max-width: 479px) {
    .product_list_page .cont {
        margin-bottom: 15px
    }
}

@media (max-width: 767px) and (min-width: 480px) and (max-width: 767px) {
    .product_list_page .cont {
        width: 50%
    }
}

@media (max-width: 767px) and (min-width: 736px) and (max-width: 767px) {
    .product_list_page .cont {
        width: 33.33333333%
    }
}

.player_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15)
}

.player_cont .play {
    width: 35px;
    height: 35px;
    background-image: url(images/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.player_cont .play:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.player_cont .line {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    position: relative;
    margin-left: 15px;
    height: 2px;
    background: #4f4f4f
}

.player_cont .line .button {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -5px;
    padding: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #4f4f4f;
    border-radius: 999px;
    background: #fff
}

.player_cont .line .button:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.player_cont .timer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50px;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    letter-spacing: .05em;
    line-height: 1px;
    text-align: right
}

.about_page {
    margin-bottom: 30px;
    padding-bottom: 1px
}

.about_page .title {
    margin-bottom: .25em;
    font-weight: bold;
    text-align: center
}

.about_page .title2 {
    margin-bottom: 45px;
    font-size: .875rem;
    text-align: center
}

.about_page .pic_cont {
    margin-bottom: 30px
}

.about_page .pic_cont .pic {
    width: 100%;
    border-radius: 8px
}

.about_page .gimn_cont {
    margin-bottom: 30px
}

.about_page .gimn_cont .title3 {
    margin-bottom: .75em;
    font-size: .875rem;
    text-transform: none;
    letter-spacing: .05em
}

.about_page .country_link {
    margin-bottom: 30px
}

.about_page .country_link .link {
    font-size: .875rem;
    line-height: 1.5em;
    text-decoration: none;
    border-bottom: 1px solid transparent
}

.about_page .country_link .link:hover {
    border-color: #ff0200
}

.about_page .country_link .link:after {
    content: "\e258";
    margin-left: 1em;
    font-family: 'Glyphicons Halflings';
    font-size: 50%
}

.about_page .text_cont {
    margin-bottom: 30px;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.42857143em;
    letter-spacing: .1em
}

.certificates_cont {
    padding-bottom: 85px;
    background: #fff
}

.certificates_cont .title {
    letter-spacing: .1em
}

.certificates_cont .owl-carousel .owl-nav .owl-prev, .certificates_cont .owl-carousel .owl-nav .owl-next {
    margin-top: -25px
}

.certificates_cont .owl-dots {
    display: none
}

.certificates_cont img {
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    transition: .25s
}

.certificates_cont a:hover img {
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15)
}

@media (max-width: 767px) {
    .certificates_cont {
        padding-bottom: 30px
    }

    .certificates_cont .owl-carousel .owl-nav .owl-prev, .certificates_cont .owl-carousel .owl-nav .owl-next {
        margin-top: -15px
    }
}

@media (min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .certificates_cont {
        padding-bottom: 30px
    }
}

.item_block {
    padding-bottom: 30px;
    border-bottom: 1px solid #b4b4b4
}

.item_block .pic_cont {
    margin-bottom: 30px;
    text-align: center
}

.item_block .pic_cont .pic {
    border-radius: 8px
}

.item_block .text_cont {
    margin-bottom: 30px
}

.item_block .text_cont .elements_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px
}

.item_block .text_cont .elements_cont .price_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-right: auto;
    text-transform: uppercase
}

.item_block .text_cont .elements_cont .price_cont .price {
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #313131
}

.item_block .text_cont .elements_cont .price_cont .old_price {
    font-weight: 500;
    color: #b4b4b4;
    text-decoration: line-through
}

.item_block .text_cont .elements_cont .item_block__count {
    margin-left: 30px
}

.item_block .text_cont .elements_cont .button {
    margin-left: 30px;
    padding: 0 40px;
    height: 50px;
    font-size: 1.0625rem;
    line-height: 50px
}

.item_block .text_cont .text .title {
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: .025em
}

.item_block .text_cont .text .item_text {
    line-height: 1.5em
}

.item_block__stock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
    color: #b4b4b4;
    text-transform: uppercase
}

.item_block__stock:before {
    content: '';
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 999px
}

.item_block__stock.yes:before {
    background: #8dc63f
}

.item_block__stock.no:before {
    background: #ff0200
}

.item_block__count {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.item_block__count .number {
    height: 50px;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    letter-spacing: .025em;
    background: #fff
}

.item_block__count .number span {
    font-size: 1.125rem;
    color: #b4b4b4
}

.item_block__count .arrow {
    width: 40px;
    height: 50px;
    border: none;
    background: #fff;
    background-size: auto 14px;
    background-position: center;
    background-repeat: no-repeat
}

.item_block__count .arrow.left {
    border-radius: 8px 0 0 8px;
    background-image: url(images/6.1.png)
}

.item_block__count .arrow.right {
    border-radius: 0 8px 8px 0;
    background-image: url(images/6.2.png)
}

@media (max-width: 767px) {
    .item_block .text_cont {
        margin-bottom: 0
    }

    .item_block .text_cont .elements_cont {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .item_block .text_cont .elements_cont .price_cont {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-right: 0
    }

    .item_block .text_cont .elements_cont .item_block__stock {
        margin: 15px
    }

    .item_block .text_cont .elements_cont .item_block__count {
        margin: 15px
    }

    .item_block .text_cont .elements_cont .button {
        margin-left: 0
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .item_block {
        padding-bottom: 1px
    }

    .item_block .text_cont .elements_cont .price_cont .price {
        font-size: 1.3125rem
    }

    .item_block .text_cont .elements_cont .price_cont .old_price {
        font-size: 1.125rem
    }

    .item_block .text_cont .elements_cont .button {
        padding: 0 20px;
        font-size: .875rem
    }
}

.counter_cont {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    background: #f8efda
}

.counter_cont .title {
    margin-bottom: 15px;
    font-size: 1.125rem
}

.counter_cont .numbers_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    border-radius: 5px;
    background: #fff
}

.counter_cont .number {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 1.5rem;
    color: #ff5e5d;
    line-height: 1em
}

.counter_cont .line {
    width: 1px;
    background: #c8c8c8
}

.counter_cont .line:first-child, .counter_cont .line:last-child {
    background: none
}

@media (min-width: 768px) and (max-width: 991px) {
    .counter_cont .number {
        font-size: 1.125rem
    }
}

.left_col_text_cont {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    background: #fff
}

.left_col_text_cont .title {
    font-size: 1rem;
    letter-spacing: normal;
    text-transform: none
}

.left_col_text_cont .text {
    margin-bottom: .5em;
    font-size: .875rem;
    color: #686a69;
    line-height: 1.71428571em
}

.left_col_text_cont .link {
    font-size: .875rem;
    text-decoration: underline
}

.orders_page {
    margin-bottom: 30px;
    padding: 30px 60px;
    border-radius: 8px;
    background: #fff
}

.orders_page .nav_cont {
    font-size: 0;
    text-align: right
}

.orders_page .nav_cont .link {
    display: inline-block;
    margin: 0 0 30px 20px;
    padding-left: 20px;
    font-size: .875rem;
    color: #969696;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none
}

.orders_page .nav_cont .link:hover {
    color: #4f4f4f
}

.orders_page .nav_cont .link.active {
    color: #4f4f4f;
    border-left: 2px solid #ff5e5d
}

.orders_page .order_cont {
    padding: 35px 0;
    font-size: .875rem;
    letter-spacing: .1em;
    border-top: 1px solid #ff5e5d
}

.orders_page .order_cont .title_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px
}

.orders_page .order_cont .title_cont .number {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    color: #ff5e5d;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    background: #f5f5f5
}

.orders_page .order_cont .title_cont .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    line-height: 1.71428571em;
    font-weight: bold
}

.orders_page .order_cont .text_cont {
    color: #686a69;
    line-height: 1.28571429em
}

.orders_page .order_cont .text_cont b {
    color: #333
}

@media (max-width: 767px),(min-width: 768px) and (max-width: 991px),(min-width: 992px) and (max-width: 1199px) {
    .orders_page {
        padding: 30px
    }

    .orders_page .nav_cont .link {
        margin: 0 0 15px 10px;
        padding-left: 15px
    }

    .orders_page .order_cont {
        padding: 30px 0
    }

    .orders_page .order_cont .title_cont .number {
        margin-right: 15px;
        width: 35px;
        height: 35px;
        font-size: 1.3125rem;
        line-height: 35px
    }
}

.cabinet_main_container {
    margin-bottom: 30px
}

.cabinet_main_container.authorization .header .title {
    position: relative;
    padding-right: 80px
}

.cabinet_main_container.authorization .header .title:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1px;
    width: 40px;
    height: 2px;
    background: #4f4f4f
}

.cabinet_main_container .form-control {
    padding: 10px 20px;
    font-size: .9375rem;
    letter-spacing: .1em;
    border: none;
    border-bottom: 1px solid #4f4f4f;
    border-radius: 0;
    background: #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none
}

.cabinet_main_container .form-control:focus {
    border-color: #ff5e5d
}

.cabinet_main_container .header {
    padding: 27px 60px;
    border-radius: 8px 8px 0 0;
    background: #f8efda
}

.cabinet_main_container .header .title {
    margin: 0;
    font-size: 1.125rem;
    letter-spacing: .1em
}

.cabinet_main_container .header .nav_cont {
    margin: 17px 0 0 0px;
    font-size: 0;
}

.cabinet_main_container .header .nav_cont .link {
    display: inline-block;
    margin: 7px 0;
    padding: 0 20px;
    font-size: .875rem;
    font-weight: 500;
    color: #828282;
    letter-spacing: .1em;
    text-decoration: none
}

.cabinet_main_container .header .nav_cont .link:hover {
    color: #4f4f4f
}

.cabinet_main_container .header .nav_cont .link.active {
    color: #000;
    border-left: 2px solid #ff5e5d
}

.cabinet_main_container .body {
    padding: 40px 60px 60px 60px;
    border-radius: 0 0 8px 8px;
    background: #fff
}

.cabinet_main_container .auth_cont {
    margin: auto;
    max-width: 363px;
    text-align: center
}

.cabinet_main_container .auth_cont .text {
    margin-bottom: 30px;
    font-size: .9375rem;
    font-weight: 500;
    letter-spacing: .09em
}

.cabinet_main_container .auth_cont .form-control {
    margin-top: 25px
}

.cabinet_main_container .auth_cont .link_cont {
    margin: 15px 0 30px 0
}

.cabinet_main_container .auth_cont .link_cont .link {
    font-size: .75rem;
    text-decoration: underline
}

.cabinet_main_container .registration_body_text {
    padding-bottom: 50px;
    font-size: .875rem;
    letter-spacing: .05em;
    line-height: 1.28571429em;
    border-bottom: 2px solid #ff5e5d
}

.cabinet_main_container .registration_body_text .title {
    margin-bottom: 20px;
    font-size: .875rem;
    line-height: 1.71428571em;
    text-align: center
}

.cabinet_main_container .profile_table {
    width: 100%;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .1em
}

.cabinet_main_container .profile_table tr {
    border-bottom: 1px solid #e1e1e1
}

.cabinet_main_container .profile_table tr:last-child {
    border-color: #ff5e5d
}

.cabinet_main_container .profile_table td {
    padding: 28px 0 17px 0
}

.cabinet_main_container .profile_table td:first-child {
    padding-right: 1em
}

.cabinet_main_container .note_info_cont {
    padding: 12px 30px;
    font-size: .875rem;
    font-weight: 500;
    border-left: 2px solid #ff5e5d;
    background: #f5f5f5
}

.cabinet_main_container .stairs_cont {
    letter-spacing: normal !important
}

.cabinet_main_container .stairs_cont ul {
    padding: 0
}

.cabinet_main_container .stairs_cont li {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 7.5px;
    width: 125px
}

.cabinet_main_container .stairs_cont li:before {
    content: none
}

.cabinet_main_container .stairs_cont .pic {
    width: 100%
}

.cabinet_main_container .stairs_cont .text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    font-size: .625rem;
    color: #fff;
    text-align: center;
    -webkit-transform: translateY(-75%);
    -moz-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    -o-transform: translateY(-75%);
    letter-spacing: .1em;
    transform: translateY(-75%)
}

.cabinet_main_container .stairs_cont .text b {
    font-size: .875rem
}

.cabinet_main_container .stairs_body_text .title {
    margin-bottom: 30px;
    font-size: 1rem;
    letter-spacing: .1em;
    text-transform: none
}

.cabinet_main_container .stairs_body_text .note_info_cont {
    margin-bottom: 20px
}

.cabinet_main_container .stairs_body_text .search_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 0;
    font-size: 0
}

.cabinet_main_container .stairs_body_text .search_cont .form-control {
    display: inline-block;
    padding: 6px 20px;
    max-width: 288px;
    font-size: .75rem
}

.cabinet_main_container .stairs_body_text .search_cont .button {
    margin-left: 15px;
    padding: 8px 20px 9px 20px
}

.cabinet_main_container .important_block {
    padding: 30px;
    border: 1px solid #ff5e5d
}

.cabinet_main_container .important_block .title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #ff5e5d
}

.cabinet_main_container .important_block .text {
    margin: 0 !important;
    font-size: .875rem !important;
    line-height: 1.42857143em !important;
    letter-spacing: .075em !important
}

.cabinet_main_container .marketing_body_text {
    font-size: .875rem;
    letter-spacing: .05em;
    line-height: 1.14285714em
}

.cabinet_main_container .marketing_body_text .stairs_cont {
    margin: 50px 0 45px 0
}

.cabinet_main_container .marketing_body_text .note_info_cont {
    margin: 30px 0;
    line-height: 1.71428571em;
    letter-spacing: .075em
}

.cabinet_main_container .marketing_body_text .text {
    margin-bottom: 30px;
    line-height: 1.14285714em;
    letter-spacing: .05em
}

.cabinet_main_container .marketing_body_text .important_block {
    margin: 40px 0 20px 0
}

@media (max-width: 767px),(min-width: 768px) and (max-width: 991px) {
    .cabinet_main_container.authorization .header .title {
        margin: 0 !important;
        padding-right: 45px
    }

    .cabinet_main_container.authorization .header .title:after {
        width: 30px
    }

    .cabinet_main_container .header {
        padding: 20px
    }

    .cabinet_main_container .header .title {
        margin: 0 0 20px 0
    }

    .cabinet_main_container .header .nav_cont {
        margin: -7px -7.5px;
        text-align: left
    }

    .cabinet_main_container .header .nav_cont .link {
        padding: 0 7.5px
    }

    .cabinet_main_container .body {
        padding: 20px
    }

    .cabinet_main_container .registration_body_text {
        padding-bottom: 20px
    }

    .cabinet_main_container .profile_table {
        font-size: .8125rem
    }

    .cabinet_main_container .profile_table td {
        padding: 15px 0
    }

    .cabinet_main_container .note_info_cont {
        padding: 12px 20px
    }

    .cabinet_main_container .stairs_cont li {
        width: 25%
    }

    .cabinet_main_container .stairs_body_text .search_cont {
        margin: 30px 0
    }

    .cabinet_main_container .stairs_body_text .search_cont .button {
        margin-left: 7.5px;
        padding: 8px 15px 9px 15px
    }

    .cabinet_main_container .important_block {
        padding: 20px
    }

    .cabinet_main_container .marketing_body_text .stairs_cont {
        margin: 30px 0 15px 0
    }

    .cabinet_main_container .marketing_body_text .important_block {
        margin: 30px 0 20px 0
    }
}

@media (max-width: 767px) and (max-width: 479px),(min-width: 768px) and (max-width: 991px) and (max-width: 479px) {
    .cabinet_main_container .stairs_cont li {
        width: 50%
    }
}

@media (max-width: 767px) and (min-width: 480px) and (max-width: 666px),(min-width: 768px) and (max-width: 991px) and (min-width: 480px) and (max-width: 666px) {
    .cabinet_main_container .stairs_cont li {
        width: 33.33333333%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cabinet_main_container .header {
        padding: 20px 30px
    }

    .cabinet_main_container .body {
        padding: 30px
    }

    .cabinet_main_container .profile_table {
        font-size: .875rem
    }

    .cabinet_main_container .stairs_cont li {
        width: 33.33333333%
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cabinet_main_container.authorization .header .title {
        margin: 0
    }

    .cabinet_main_container .header .title {
        margin: 0 0 20px 0
    }

    .cabinet_main_container .header .nav_cont {
        text-align: left
    }
}

.profile_table {
    margin-top: 20px;
}

.profile_table.active {
    display: block;
}

.card-header {
    background: #6ef472;
}

.alert.alert-sucscess {
    color: #1e538b;
}

.pin-info {
    font-size: 16px;
}

.pin-info span {
    color: #1c7c96;
}

.stairs_cont ul {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.stairs_cont ul li {
    float: left;
}

.clearfix {
    clear: both;
}


.node {
    width: 12%;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin: 0 2px 0 0;
    color: #670000;
    font-size: 70%;
    font-weight: bold;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-weight: bold;
    float: left;

}

.node.start {
    height: 67px;

    padding-top: 10px;
    background-image: url('../images/icons/1/1.png');


}

.node.start.empty {
    font-weight: bold;
    background-image: url('../images/icons/1/empty.png');
}

.node.auto {
    height: 100px;
    padding-top: 28px;
    background-image: url('../images/icons/2/1.png');
}

.node.auto.empty {
    font-weight: bold;
    background-image: url('../images/icons/2/empty.png');
}

.node.main {
    height: 72px;
    background-image: url('../images/icons/3/1.png');
}

.node.main.st {
    padding-top: 13px;
}

.node.main.fin {
    height: 72px;
    padding-top: 14px;
    background-image: url('../images/icons/3/2.png');
}

.node.main.empty {
    font-weight: bold;
    background-image: url('../images/icons/3/empty1.png');
}

.node.acummulative {
    height: 100px;
    background-image: url('../images/icons/4/1.png');
    padding-top: 30px;
}

.node.acummulative.empty {
    font-weight: bold;
    background-image: url('../images/icons/4/empty.png');
}

.node.acummulative_plus {
    padding-top: 27px;
    height: 100px;
    background-image: url('../images/icons/5/1.png');
}

.node.acummulative_plus.empty {
    font-weight: bold;
    background-image: url('../images/icons/5/empty.png');
}

.node.vip {
    height: 100px;
    padding-top: 29px;
    font-weight: bold;
    background-image: url('../images/icons/6/1.png');
}

.node.vip.fin {
    height: 109px;
    font-weight: bold;
    background-image: url('../images/icons/6/2.png');
}

.node.vip.empty {
    font-weight: bold;
    background-image: url('../images/icons/6/empty1.png');
}

.node.vip.fin.empty {
    width: 135px;
    height: 109px;
    font-weight: bold;
    background-image: url('../images/icons/6/empty2.png');
}

.node.fast {
    padding-top: 30px;
    height: 100px;
    background-image: url('../images/icons/7/1.png');
}

.node.fast.empty {
    font-weight: bold;
    background-image: url('../images/icons/7/empty.png');
}


.node.bonus {
    height: 100px;
    padding-top: 29px;
    font-weight: bold;
    background-image: url('../images/icons/8/1.png');
}

.node.bonus.fin {
    height: 109px;
    font-weight: bold;
    background-image: url('../images/icons/8/2.png');
}

.node.bonus.empty {
    font-weight: bold;
    background-image: url('../images/icons/8/empty1.png');
}

.node.bonus.fin.empty {
    width: 135px;
    height: 109px;
    font-weight: bold;
    background-image: url('../images/icons/8/empty2.png');
}


#other-city {
    display: none;
}

.node .sponsor {
    font-size: 0.8em;
    padding-bottom: 5px;
}

.inv-row, .inv2-row, .inv3-row, .not-row {
    display: none;
}